joblib==0.16.0
numpy==1.19.1; python_version<"3.9"
numpy>=1.21; python_version>="3.9"
python-dateutil==2.8.1
pytz==2020.1
# Conditionally install Scipy based on Python version
scipy==1.5.2; python_version<"3.9"
scipy>=1.7.3; python_version>="3.9"
six==1.15.0
threadpoolctl==2.1.0
scikit-learn
